@model ElementGridPartialViewModel
@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/ElementGridPartialView.css" type="text/css" />

@if (!string.IsNullOrEmpty(Model.Category))
{
    <p class="ads-partial-view-title">@Model.Category</p>
}

<div class="container">

    @for (int i = 0; i < 3; i++)
    {
        <div class="row">

            @for (int e = 0; e < 4; e++)
            {
                var base64 = Convert.ToBase64String(Model.Picture);
                var imgSrc = String.Format("data:image/gif;base64,{0}", @base64);

                <div id="ad" class="col-lg-3 col-md-3">

                    <div>
                        <img alt="Picture" src="@imgSrc" class="ad-img" /><br />
                        <span class="ad-title">@Model.ElementTitle</span>
                        <br />
                        <span class="ad-publication-date">@Model.PublicationDate.ToShortDateString()</span>
                        <a class="ad-link" asp-action="Ad" asp-controller="Home" asp-area="Ads" asp-id="@Model.ElementId">@Localizer["Review"]</a>
                    </div>

                </div>
            }
        </div>
    }
</div>